@import 'styles-base.css';

:root {
	--std-card-margin: var(--std-padding-horz);

	--card-border: 1px;
	--card-border-colour: var(--primary-dark);
	--card-shadow-colour: var(--secondary-dark);

	--card-border-hover: 2px;
	--card-border-colour-hover: var(--primary-dark);
	--card-background-colour-hover: var(--secondary-light);

    --resource-block_size: 100px;
    --resource-img-width: calc(2 * var(--resource-block_size));
    --resource-card-height: calc(2.5 * var(--resource-block_size));
	--resource-card-background-colour-hover: var(--secondary-light);
	--resource-card-font-size: 0.8rem;
	--resource-card-font-weight: 600;

    --table-border-colour: rgb(100, 100, 100);
}


/*
    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/colgroup
    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th#attr-scope
*/
.table-heading {
    background-color: #d7d9f2;
}

caption {
    padding: 8px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--table-border-colour);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid var(--table-border-colour);
    padding: 10px 10px;
}

td {
    text-align: center;
}

td ul {
    display: inline-block;
}
td li {
    list-style-position: inside;
    
}


#pitch-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#pitch-img {
    max-width: 90%;  
    height: auto;  
}

#pitch-img:hover {
	box-shadow: 10px 10px 24px 0px var(--card-shadow-colour);
}

/* card grid for resources */

#card-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.card {
	margin: var(--std-card-margin);
    padding: var(--std-padding-vert) var(--std-padding-horz);
	box-shadow: 6px 3px 3px var(--card-shadow-colour);
	border: var(--card-border) solid var(--card-border-colour);
	border-radius: 5%;

    background-color: var(--resource-card-background-colour-hover);
}


article h2 {
    padding-left: 0px;
}

section > h2.heading {
    top: calc(var(--h2-heading-top) + var(--std-card-margin));
}


/* resource grid */

.resource-grid {
    /* heading row default = h2 height + article h2 margin-top */
    --heading-row-initial: calc(var(--h2-line-height) + var(--std-margin-vert));
    /* map row default */
    --map-row-initial: calc(var(--resource-card-height) - var(--heading-row-initial));

	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: var(--map-row-initial) var(--heading-row-initial);
    overflow: hidden;
}

.resource-map {
    width: 100%;
    height: 75%;
    text-align: center;
    align-self: center;
}

.resource-map img {
    max-width: 30%;
    height: auto;
    background-color: var(--resource-card-background-colour-hover);
    margin-top: var(--std-margin-vert);
}

.resource-info {
    width: 100%;
    height: 25%;
}

.resource-info * {
    background-color: var(--resource-card-background-colour-hover);
}

.resource-info h2 {
    text-align: center
}

.resource-grid:hover {
    /* hide map row */
    grid-template-rows: 0px var(--resource-card-height);
    background-color: var(--resource-card-background-colour-hover);
}

.resource-grid:hover > .resource-map img {
    visibility: hidden;
}

.resource-grid dt {
    letter-spacing: 0.03em;
    font-family: var(--heading-font);
	font-size: var(--resource-card-font-size);
	font-weight: var(--resource-card-font-weight);
}

.resource-grid dd {
	font-size: var(--resource-card-font-size);
	font-weight: var(--resource-card-font-weight);
}
.resource-grid dd a {
	font-size: var(--resource-card-font-size);
	font-weight: var(--resource-card-font-weight);
    text-decoration: none;
}

.resource-grid dt ~ dd a {
    line-height: 200%;
}


/* media queries */

/* medium-large screens, 1600px wide or less */ 
@media screen and (max-width: 1600px) {

    .resource-map img {
        max-width: 35%;
    }
}

/* medium-large screens, 1500px wide or less */ 
@media screen and (max-width: 1500px) {

    .resource-map img {
        max-width: 37.5%;
    }
}

/* medium-large screens, 1400px wide or less */ 
@media screen and (max-width: 1400px) {

    .resource-map img {
        max-width: 40%;
    }
}

/* medium-large screens, 1200px wide or less */ 
@media screen and (max-width: 1200px) {

    .resource-map img {
        max-width: 50%;
    }
}

/* small-medium screens, 1000px wide or less */ 
@media screen and (max-width: 1000px) {

    .resource-map img {
        max-width: 60%;
    }
}

/* small-medium screens, 900px wide or less */ 
@media screen and (max-width: 900px) {

    .resource-map img {
        max-width: 70%;
    }
}

/* small-medium screens, 800px wide or less */ 
@media screen and (max-width: 800px) {

    #pitch-grid {
        grid-template-columns: 1fr;
    }

    #card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .resource-map img {
        max-width: 50%;
    }
  
}

/* small screens, 600px wide or less */ 
@media screen and (max-width: 600px) {

    #card-grid {
        grid-template-columns: 1fr;
    }

    .resource-map img {
        max-width: 40%;
    }
}

/* small screens, 480px wide or less */ 
@media screen and (max-width: 480px) {

    .resource-map img {
        max-width: 50%;
    }
}

/* tiny-small screens, 400px wide or less */ 
@media screen and (max-width: 400px) {

    .resource-map img {
        max-width: 60%;
    }
}
