@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat+Alternates:wght@500&display=swap');

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    /* colour scheme: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=1DE9B6&secondary.color=F9FBE7 */
    --primary: #1de9b6;
    --primary-light: #6effe8;
    --primary-dark: #00b686;
    --secondary: #f9fbe7;
    --secondary-r: 249;
    --secondary-g: 251;
    --secondary-b: 231;
    --secondary-light: #ffffff;
    --secondary-dark: #c6c8b5;
    --primary-text: #000000;
    --secondary-text: #000000;

    --heading-font: 'Montserrat', sans-serif;
    --heading-font_weight: 500;
    --paragraph-font: 'Hind', sans-serif;
    --paragraph-font_weight: 300;

    --std-margin-horz: 7.5%;
    --std-margin-vert: 5px;

    --std-spacing: 30px;
    --std-padding-horz: 15px;
    --std-padding-vert: 5px;

    --std-border-radius: 5px;

    --margin-padding-horz: calc(var(--std-margin-horz) + var(--std-padding-horz));
    --content-width: calc(100% - var(--margin-padding-horz) - var(--margin-padding-horz));
    --content-half-width: calc(var(--content-width) / 2);

    --menu-item-width: 130px;
    --menu-height: 32px;        /* 2 * std 16px */

    --padded-menu-height: calc((2 * var(--std-padding-vert)) + var(--menu-height));

    --nav-transition-time: 300ms;
    --nav-transition-func: ease-in-out;

    --hamburger-bar-height: 4px;
    --hamburger-bar-width: 30px;

    --footer-height: 50px;

    --nav-menu-margin-right: 20px;

    --std-block-size: 200px;

    /* one line hero text */
    --hero-text-width: 500px;
    --hero-text-height: 50px;
    --hero-height: var(--std-block-size);


    /* default heading heights; https://www.w3schools.com/tags/tag_hn.asp */
    --default-h1-height: 2em;
    --default-h2-height: 1.5em;
    --default-h3-height: 1.17em;
    --default-h4-height: 1em;
    --default-h5-height: 0.83em;
    --default-h6-height: .67em;
}

/* CSS Specificity
    https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity
    https://specifishity.com/
*/

/* -vv- Love Running Walkthrough Project -vv- */
* {
    margin: 0;
    padding: 0;
    border: none;
}
/* -^^- Love Running Walkthrough Project -^^-*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: var(--heading-font_weight);
    color: var(--primary-text);
    clear: left;
}

body {
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font_weight);
    color: var(--secondary-text);
    background-color: var(--secondary);
}

section {
    padding: var(--std-padding-vert) var(--std-padding-horz);
    margin: var(--std-margin-vert) var(--std-margin-horz);
}

.article-section {
    padding: var(--std-padding-vert) var(--std-padding-horz);
    /* padding for vertical headings */
    padding-left: calc(var(--std-padding-horz) + var(--default-h2-height) + var(--std-margin-vert));
    margin: var(--std-margin-vert) var(--std-margin-horz);
}

article h2 {
    margin-top: var(--std-margin-vert);
    margin-left: var(--std-margin-horz);
    padding: var(--std-padding-vert) var(--std-padding-horz);
}

h2.heading {
    transform-origin: bottom left;
    transform: rotate(90deg);
    display: inline-block;
    clear: both;
}


/* classes to align with section content */
.section-left {
    padding-left: var(--std-padding-horz);
    margin-left: var(--std-margin-horz);
}
.section-right {
    padding-right: var(--std-padding-horz);
    margin-right: var(--std-margin-horz);
}
.section-centre {
    text-align: center;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/calc */

/* navigation links

    hamburger menu based on 'Responsive CSS Hamburger Menu - CSS only' (https://codepen.io/alvarotrigo/pen/MWEJEWG)
    from https://alvarotrigo.com/blog/hamburger-menu-css/
 */
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary);
    height: var(--padded-menu-height);
    margin-left: var(--std-margin-horz);
    padding: var(--std-padding-vert) var(--std-padding-horz);
  }
  
.nav-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.nav-menu > li {
    overflow: hidden;
    background-color: var(--secondary);
    text-align: center;
    width: var(--menu-item-width);
}
  
.nav-menu > li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    
    margin-right: var(--nav-menu-margin-right);
    margin-top: var(--std-margin-vert);
    margin-bottom: var(--std-margin-vert);
    border: 1px solid var(--primary-light);
    border-radius: var(--std-border-radius);
    background-color: var(--primary-light);
    padding: var(--std-padding-vert) var(--std-padding-horz);
    flex-direction: row;
    max-width: var(--menu-item-width);
    align-items: baseline;
}

.nav-menu > li a.current_page {
    border-color: var(--primary);
    background-color: var(--primary);
}

.nav-menu > li a:hover {
    border-color: var(--primary-dark);
    background-color: var(--primary-dark);
}

.menu-button-container {
    display: none;
    height: 100%;
    width: var(--hamburger-bar-width);
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    /* 3 bars */
    display: block;
    background-color: var(--primary-dark);
    position: absolute;

    height: var(--hamburger-bar-height);
    width: var(--hamburger-bar-width);
    transition: transform var(--nav-transition-time) var(--nav-transition-func);
    border-radius: calc(var(--hamburger-bar-height) / 2);
}
  
.menu-button::before {
    /* before bar: top */
    content: "";
    margin-top: calc((2 * var(--hamburger-bar-height)) * -1);
}
  
.menu-button::after {
    /* after bar: bottom */
    content: "";
    margin-top: calc(2 * var(--hamburger-bar-height));
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    /* before bar: 45 degrees */
    margin-top: 0px;
    transform: rotate(45deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    /* middle bar: transparent */
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    /* after bar: -45 degrees */
    margin-top: 0px;
    transform: rotate(-45deg);
}
  
/* hero image */
#hero-outer {
    height: var(--hero-height);
    width: var(--content-width);
    overflow: hidden;

    position: relative;
}

#hero-text, #hero-text h2 {
    color: var(--secondary-text);
    line-height: var(--hero-text-height);
}

#hero-image {
    height: var(--hero-height);
    width: 100%;

    border-radius: 10px;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/image/image-set */
    background: url('../img/mas-arg-boys-2018-youth-olympics-lge.jpg') no-repeat center center;
    background-image: -webkit-image-set(
        "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-lge_ne1kur.webp" type("image/webp"),
        "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-lge_hrrour.jpg" type("image/jpeg")
    );
    background-image: image-set(
        "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-lge_ne1kur.webp" type("image/webp"),
        "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-lge_hrrour.jpg" type("image/jpeg")
    );

    background-color: var(--primary);

    /* animation rotation effect when page loaded */
    animation-name: hero-animate;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* rotation for the hero image
    https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function */
@keyframes hero-animate {
    from {
        transform: rotateY(270deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
/* fade in for the hero image */
@keyframes hero-fade-in {
    0% { 
        opacity: 0.5;
    }
    100% {
        opacity: 1; 
    }
}
    
#hero-text {
    font-size: 150%;
    text-align: center;

    width: var(--hero-text-width);
    height: var(--hero-text-height);
    border-radius: 10px;

    background-color: rgba(var(--secondary-r), var(--secondary-g), var(--secondary-b), .7);

    position: relative;
    
    --no-text-height: calc(var(--hero-height) - var(--hero-text-height));
    --no-text-width: calc(100% - var(--hero-text-width));
    top: calc(var(--no-text-height) / 2); 
    left: calc(var(--no-text-width) / 2);
}

#one-line-hero {
    display: block;
}
#two-line-hero {
    display: none;
}

/* footer */

footer {
    width: var(--content-width);
    margin-left: var(--std-margin-horz);
    margin-right: var(--std-margin-horz);
    padding: var(--std-padding-vert) var(--std-padding-horz) var(--std-padding-vert) var(--std-padding-horz);
    height: var(--footer-height);
    color: var(--secondary-dark);
}

.copyright {
    float: left;
    width: 47.5%;
}

.built-with {
    float: left;
    width: 5%;
}

.socials {
    float: right;
    width: 47.5%;
}

.socials-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.socials-list li {
    --li-margin: calc(var(--std-spacing) - 20px);
    display: inline;
    margin-left: var(--li-margin);
}

.socials-list a {
    text-decoration: none;
    color: var(--secondary-dark);
}

.built-with a {
    text-decoration: none;
    color: var(--secondary-dark);
}

/* media queries */

/* larger to medium screens, 1200px wide or less */ 
@media screen and (max-width: 1200px) {

    :root {
        --std-margin-horz: 5%;
    }
}

/* medium screens, 950px wide or less */ 
@media screen and (max-width: 950px) {

    :root {
        --std-margin-horz: 2.5%;
    }
}

/* small-medium screens, 800px wide or less */ 
@media screen and (max-width: 800px) {

    :root {
        --std-margin-horz: 1.5%;

        --hero-height: 190px;   /* to match height of small image */
    }

    #hero-image {
        background-image: url('../img/mas-arg-boys-2018-youth-olympics-med.jpg');
        background-image: -webkit-image-set(
            "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-med_shomyl.webp" type("image/webp"),
            "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-med_qo5apd.jpg" type("image/jpeg")
        );
        background-image: image-set(
            "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-med_shomyl.webp" type("image/webp"),
            "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-med_qo5apd.jpg" type("image/jpeg")
        );
    }
}

/* tiny-small screens, 600px wide or less */ 
@media screen and (max-width: 600px) {

    .menu-button-container {
        display: flex;
    }
  
    .nav-menu {
        position: absolute;
        top: 0;
        margin-top: var(--padded-menu-height);
        left: var(--std-margin-horz);
        flex-direction: column;
        width: 100%;
        justify-content: left;
    }
  
    .nav-menu > li a {
        display: block;
        width: var(--menu-item-width);
    }
    
    /* don't display menu items when hamburger unopened */
    #menu-toggle ~ .nav-menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: none var(--nav-transition-time) var(--nav-transition-func);
    }
  
    /* display menu items when hamburger opened */
    #menu-toggle:checked ~ .nav-menu li {
        border: 1px solid var(--secondary);
        border-radius: var(--std-border-radius);
        z-index: 1;
        height: var(--padded-menu-height);
        padding: var(--std-padding-vert) var(--std-padding-horz);
        margin-left: var(--std-margin-horz);
        transition: height var(--nav-transition-time) var(--nav-transition-func);
    }
    
    .nav-menu > li {
        display: flex;
        justify-content: left;
        width: calc(var(--menu-item-width) + (2 * var(--std-padding-horz)));
        background-color: var(--secondary);
    }
}

/* tiny screens, 450px wide or less */ 
@media screen and (max-width: 450px) {

    :root {
        --std-margin-horz: 0.5%;

        /* two line hero text */
        --hero-text-width: 250px;
        --hero-text-height: 100px;
    }

    #hero-image {
        background-image: url('../img/mas-arg-boys-2018-youth-olympics-sml.jpg');
        background-image: -webkit-image-set(
            "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-sml_yl80np.webp" type("image/webp"),
            "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-sml_r9zywy.jpg" type("image/jpeg")
        );
        background-image: image-set(
            "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-sml_yl80np.webp" type("image/webp"),
            "https://res.cloudinary.com/dytiyi1cg/image/upload/v1651841788/hockey-history/mas-arg-boys-2018-youth-olympics-sml_r9zywy.jpg" type("image/jpeg")
        );
    }

    /* navigation links */
    .nav_menu {
        --height: calc((var(--std-padding-vert) * 2) + var(--menu-height));
        height: calc(var(--height) * 3);
    }
    .nav_menu li {
        clear: both;
        float: right;
    }    
        
    /* footer */
    .copyright {
        float: left;
        text-align: left;
        width: calc(var(--content-width) * 0.8);
    }
    .built-with {
        float: right;
        text-align: right;
        width: calc(var(--content-width) * 0.2);
    }
    .socials {
        float: left;
        text-align: center;
        width: var(--content-width);
    }
    .socials-list {
        justify-content: center;
    }

    /* hero */
    #hero-text, #hero-text h2 {
        line-height: calc(var(--hero-text-height) / 2);
    }
    #one-line-hero {
        display: none;
    }
    #two-line-hero {
        display: block;
    }
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
    #hero-image {
      animation-name: hero-fade-in;
    }
  }

