@import 'styles-base.css';

:root {
	--vert-margin: calc(var(--std-margin-vert) * 3);
}

article h1 {
	font-size: xxx-large;
	margin-top: var(--vert-margin);
}

article h2,
article p {
	margin-top: var(--vert-margin);
}

article {
	text-align: center;
}

